---
import dayjs from "dayjs"
import utc from "dayjs/plugin/utc"
dayjs.extend(utc)
const lastModified = dayjs()
  .utc(Astro.props.frontmatter.lastModified)
  .format("HH:mm:ss DD MMMM YYYY UTC");

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Brandon Gutierrez's Website | Blog | {frontmatter.title}</title>
</head>
<style>
    body {
        max-width: 1024px;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    main {
        flex: 1;
        width: 100%;
    }
</style>
<body>
    <Header />
    <main>
        <h1>{frontmatter.title}</h1>
        <date>Last edited: {lastModified}</date>
        <slot />
    </main>
    <Footer />
</body>
</html>